{% extends 'base.html' %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Paramètre profil</h1>
</div>
<div class="row">
    <div class="param-profil">
        {% for text in messages %}
        <div class="text-center">
            <h1 class="h6 text-gray-900 mb-4">{{ text }}</h1>
        </div>
        {% endfor %}
        <!-- Forms -->
        <form method="POST" class="user">
            {% csrf_token %}

            {{ form.as_p }}

            </br><hr>

            <button type="submit" class="btn btn-primary btn-user btn-block">Modifier les informations</button>

        </form>

    </div>
</div>
{% endblock %}
