{% extends 'patient/base.html' %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Paramètre profil</h1>
</div>
<div class="row">
    <div class="param-profil">

        <!-- Forms -->
        <form class="user">
            <div class="form-group">
                <input type="email" class="form-control form-control-user"
                    id="exampleInputEmail" aria-describedby="emailHelp"
                    placeholder="DONNEE EMAIL BDD">
            </div>
            <hr>
            <div class="form-group">
                <input type="password" class="form-control form-control-user"
                    id="exampleInputPassword" placeholder="Nouveau mot de passe">
            </div>
            <div class="form-group">
                <input type="password" class="form-control form-control-user"
                    id="exampleInputPassword" placeholder="Comfirmez le nouveau mot de passe">
            </div>
            <a href="{%url 'profil' %}" class="btn btn-primary btn-user btn-block">
                Modifier les informations
            </a>
        </form>
    </div>
</div>
{% endblock %}


